.contact {
  height: 100%;
  width: 90%;
  background-color: $color-background-bright;
  margin-right: 3rem;
  display: flex;
  justify-content: space-around;
  @include sm {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  @include md {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  @include lg {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  &__form {
    max-width: 60%;
    position: relative;
    border-radius: $border-radius-main;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    @include mdc-notched-outline-color($color-background-dark);

    @include sm {
      margin-top: 3rem;
      max-width: 90%;
    }
    @include md {
      margin-top: 3rem;
      max-width: 90%;
    }
    @include lg {
      margin-top: 1rem;
      max-width: 90%;
    }
  }

  &__incitement {
    max-width: 50%;
    padding-top: 4rem;
    padding-left: 2rem;

    @include sm {
      max-width: 90%;
    }
    @include md {
      max-width: 90%;
    }
    @include lg {
      max-width: 60%;
    }
    @include xl {
      width: 40%;
    }
  }

  &__input {
    display: block;
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: 20rem;

    &:first-child {
      margin-top: 2rem;
    }
    @include sm {
      width: 80%;
      margin-bottom: 1rem;
    }
    @include md {
      width: 80%;
      margin-bottom: 1rem;
    }
    @include lg {
      width: 80%;
      margin-bottom: 1rem;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 20rem;
    margin-left: 2rem;
    align-items: center;
    @include sm {
      max-width: 15rem;
    }
    @include md {
      max-width: 15rem;
    }
    @include lg {
      max-width: 15rem;
    }
  }

  &__link {
    font-size: small;
    color: $color-text-medium;
  }

  &__confirm {
    padding-top: 4rem;
    padding-left: 2rem;
    width: 100%;

    & button {
      margin-left: 3rem;
    }
  }

  &__confirm-title {
    font-size: 2rem;
    line-height: 1;
    white-space: nowrap;
    width: min-content;
    color: $color-text-dark;
    font-family: $font-header-title;
    font-weight: $font-weight-header-title;
    border-bottom: 3px solid $color-accent;
    @include sm {
      font-size: 1.4rem;
    }
    @include md {
      font-size: 1.4rem;
    }
    @include lg {
      font-size: 1.8rem;
    }
  }

  &__confirm-text {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: $color-text-medium;
    font-family: $font-text-body;
    font-weight: $font-weight-text-body;

    @include sm {
      font-size: 1rem;
      margin-bottom: 0;
    }
    @include md {
      font-size: 1rem;
      margin-bottom: 0;
    }
    @include lg {
      font-size: 1.2rem;
      margin-bottom: 0;
    }
  }

  &__confirm-btn {
    @include sm {
      margin-top: 2rem;
    }
    @include md {
      margin-top: 2rem;
    }
    @include lg {
      margin-top: 2rem;
    }
  }

  &--show {
    display: block;
  }

  &--hide {
    display: none;
  }
}

.mdc-text-field {
  @include mdc-text-field-focused-outline-color($color-background-dark);
  @include mdc-text-field-hover-outline-color($color-background-dark);
  @include mdc-text-field-outline-color($color-background-dark);
  @include mdc-text-field-textarea-stroke-color($color-background-dark);
  @include mdc-text-field-label-color($color-background-dark);
  @include mdc-text-field-caret-color($color-background-dark);
  @include mdc-text-field-outline-shape-radius($border-radius-main);
  width: 100%;

  // @include sm {
  //   @include mdc-text-field-outlined-height(40px);
  // }
  // @include md {
  //   @include mdc-text-field-outlined-height(40px);
  // }
  // @include lg {
  //   @include mdc-text-field-outlined-height(40px);
  // }
}
.mdc-text-field--textarea {
  @include sm {
    @include mdc-text-field-outlined-height(150px);
  }
  @include md {
    @include mdc-text-field-outlined-height(150px);
  }
  @include lg {
    @include mdc-text-field-outlined-height(150px);
  }
}
.mdc-floating-label--float-above.textarealabel{
  @include sm {
    transform: translateY(-27.75px) scale(0.75) !important;
  }
  @include md {
    transform: translateY(-27.75px) scale(0.75) !important;
  }
  @include lg {
    transform: translateY(-27.75px) scale(0.75) !important;
  }
}
.mdc-floating-label {
  @include mdc-floating-label-ink-color($color-background-dark);
  font-family: $font-text-body;
}

.error-helper-text,
.mdc-text-field-helper-text {
  @include mdc-text-field-helper-text-color($color-signal-red);
  color: $color-signal-red !important;
  position: absolute;
  white-space: nowrap;

  &--visible {
    display: block;
  }

  &--invisible {
    display: none;
  }
}
