.contact {
  height: 100%;
  width: 90%;
  background-color: $color-background-bright;
  margin-right: 3rem;

  &__form {
    position: relative;
    border-radius: $border-radius-main;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    @include mdc-notched-outline-color($color-background-dark);
  }

  &__input {
    display: block;
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: 20rem;

    &:first-child {
      margin-top: 2rem;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 20rem;
    margin-left: 2rem;
    align-items: center;
  }

  &__link {
    font-size: small;
    color: $color-accent;
  }

  &__confirm {
    padding-top: 4rem;
    padding-left: 2rem;

    & button{
      margin-left: 3rem;
    }
  }

  &__confirm-title {
    font-size: 2rem;
    line-height: 1;
    white-space: nowrap;
    width: min-content;
    color: $color-text-dark;
    font-family: $font-header-title;
    font-weight: $font-weight-header-title;
    border-bottom: 3px solid $color-accent;
  }

  &__confirm-text {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    white-space: nowrap;
    color: $color-text-medium;
    font-family: $font-text-body;
    font-weight: $font-weight-text-body;
  }

  &--show{
    display: block;
  }

  &--hide{
    display: none;
  }
}

.mdc-text-field {
  @include mdc-text-field-focused-outline-color($color-background-dark);
  @include mdc-text-field-hover-outline-color($color-background-dark);
  @include mdc-text-field-outline-color($color-background-dark);
  @include mdc-text-field-textarea-stroke-color($color-background-dark);
  @include mdc-text-field-label-color($color-background-dark);
  @include mdc-text-field-caret-color($color-background-dark);
  width: 100%;
}

.mdc-floating-label {
  @include mdc-floating-label-ink-color($color-background-dark);
  font-family: $font-text-body;
}

.error-helper-text,
.mdc-text-field-helper-text {
  @include mdc-text-field-helper-text-color($color-signal-red);
  color: $color-signal-red !important;
  position: absolute;
  white-space: nowrap;

  &--visible {
    display: block;
  }

  &--invisible {
    display: none;
  }
}
