.impressum {
  height: 100%;
  width: 90%;
  padding: 4rem;
  background-color: $color-background-bright;
  margin-right: 3rem;
  position: relative;
  border-radius: $border-radius-main;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  @include mdc-notched-outline-color($color-background-dark);
  box-shadow: $box-shadow-inset;

  @include sm {
    padding: 1.2rem;
    padding-top: 3rem;
  }
  @include md {
    padding: 1.2rem;
    padding-top: 3rem;
  }
  @include lg {
    padding: 1.2rem;
    padding-top: 3rem;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    line-height: 1;
    white-space: nowrap;
    width: min-content;
    color: $color-text-dark;
    font-family: $font-header-title;
    font-weight: $font-weight-header-title;
    border-bottom: 3px solid $color-accent;

    @include sm {
      font-size: 1.2rem;
    }
    @include md {
      font-size: 1.2rem;
    }
    @include lg {
      font-size: 1.2rem;
    }
  }

  &__text {
    font-size: 1.5rem;
    margin-left: 2rem;
    color: $color-text-medium;
    font-family: $font-text-body;
    font-weight: $font-weight-text-body;

    @include sm {
      font-size: 1rem;
      margin-left: 1rem;
    }
    @include md {
      font-size: 1rem;
      margin-left: 1rem;
    }
    @include lg {
      font-size: 1rem;
    }
  }
}
