.header {
  position: absolute;
  right: 10rem;
  top: 20%;
  background-color: $color-cards-and-header;
  color: $color-main;
  text-align: center;
  border-radius: $border-radius-main;
  z-index: 2;
  box-shadow: $box-shadow-main;

  @include sm {
    right: 3rem;
    top: 5%;
    width: 50vw;
  }
  @include md {
    right: 4rem;
    top: 7%;
    width: 50vw;
  }
  @include lg {
    right: 6rem;
    top: 10%;
  }

  &--smaller {
    height: auto;
    padding: 1rem;

    @include sm {
      height: auto;
    }
    @include md {
      height: auto;
    }
    @include lg {
    }
  }

  &__title {
    white-space: nowrap;
    border-bottom: 0.2rem $color-accent solid;
    line-height: 1;
    margin-top: 2rem;
    font-family: $font-header-title;
    font-weight: $font-weight-header-title;
    white-space: nowrap;
    text-align: right;

    @include sm {
      font-size: 1.7rem;
      border-bottom: 0.1rem $color-accent solid;
    }
    @include md {
      font-size: 1.7rem;
      border-bottom: 0.1rem $color-accent solid;
    }
    @include lg {
      font-size: 2.9rem;
    }
    @include xl {
      font-size: 3.5rem;
    }

    &--smaller {
      font-size: 4rem;
      margin-top: 0;
      width: auto;

      @include sm {
        font-size: 1rem;
      }
      @include md {
        font-size: 2rem;
      }
      @include lg {
        font-size: 3rem;
      }
      @include xl {
        font-size: 4rem;
      }
    }
  }

  &__subtitle {
    text-align: right;
    margin: auto;
    margin-top: 0.5rem;
    font-family: $font-header-subtitle;
    font-weight: $font-weight-header-title;

    @include sm {
      font-size: 0.8rem;
    }
    @include md {
      font-size: 0.8rem;
    }
    @include lg {
      font-size: 1rem;
    }
    @include xl {
      font-size: 1.2rem;
    }
  }

  &__btn-box {
    height: min-content;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  &__btn:first-child {
    margin-right: 1rem !important;
  }
  
  &__text-box {
    // width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}


  .mdc-button {
    @include sm {
      font-size: 0.7rem !important;
    }
    @include md {
      font-size: 0.7rem !important;
    }
  }