.product-card {
  height: 85%;
  background-color: $color-background-bright;
  margin-right: 3rem;
  position: relative;
  border-radius: $border-radius-main;
  box-shadow: $box-shadow-inset;

  @include sm {
    width: 80%;
  }
  @include md {
    width: 80%;
  }
  @include lg {
    width: 90%;
  }
  @include xl {
    width: 35%;
  }

  &:first-child {
    margin-left: 0rem;
  }
  &:last-child {
    margin-right: 0;
  }
}

.product-card-header {
  height: 30%;
  width: 100%;
  background-color: $color-cards-and-header;

  &__title {
    font-size: 2rem;
    line-height: 1;
    white-space: nowrap;
    padding-top: 2rem;
    margin-left: 2rem;
    width: min-content;
    color: $color-main;
    font-family: $font-header-title;
    font-weight: $font-weight-header-title;
    border-bottom: 3px solid $color-accent;
  }
  &__img {
    position: absolute;
    height: 10rem;
    width: 90%;
    top: 16%;
    right: 5%;
    border-radius: $border-radius-main;

    & img {
      max-width: 100%;
      max-height: 115%;
    }
  }
}

.product-card-body {
  width: 90%;
  margin: auto;
  margin-top: 30%;

  @include ex {
    margin-top: 23%;
  }

  &__title {
    margin-bottom: 0.8rem;
    font-family: $font-text-title;
    font-weight: $font-weight-text-title;
    color: $color-text-dark;
    font-size: 1.4rem;
    padding-top: 1rem;

    @include sm {
      padding-top: 1rem;
    }
    @include md {
      padding-top: 1rem;
    }

    @include xl {
      padding-top: 1rem;
    }
    @include ex {
      padding-top: 1rem;
    }
  }

  &__text {
    color: $color-text-medium;
    font-family: $font-text-body;
    font-weight: $font-weight-text-body;
    font-size: 0.8rem;
    margin: 0.5rem;
    @include sm {
      font-size: 0.8rem;
      margin: 0.5rem;
    }
    @include md {
      font-size: 0.8rem;
      margin: 0.5rem;
    }
    @include lg {
      font-size: 0.8rem;
      margin: 0.5rem;
    }
    @include xl {
      font-size: 1rem;
      margin: 1rem;
    }
    @include ex {
      font-size: 0.8rem;
      margin: 0.5rem;
    }
  }
}
