.edit-form {
  height: 100%;
  width: 100%;
  background: $color-background-semi-transparent;
  z-index: 500;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__form {
    margin-top: 2rem;
  }

  &__msg {
    margin: auto;
    margin-top: 2rem;
    color: $color-text-dark;
    font-size: 3rem;
    font-family: $font-header-subtitle;
    font-weight: $font-weight-text-title;

    @include sm {
      margin-top: 4rem;
      font-size: 2rem;
    }
    @include md {
      margin-top: 4rem;
      font-size: 2rem;
    }
  }

  &__title {
    margin-bottom: 1rem;
    color: $color-text-dark;
    font-family: $font-header-subtitle;
    font-weight: $font-weight-text-title;

    &--special {
      position: absolute;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 6rem;
    }
  }

  &__textfield {
    display: block;
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: 20rem;
  }

  &--open {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    @include sm {
      grid-template-columns: 1fr;
    }
    @include md {
      grid-template-columns: 1fr;
    }
    @include lg {
      grid-template-columns: 1fr;
    }
    @include xl {
    }
  }

  &--closed {
    display: none;
  }
}
