// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Main 
/// @type Color
// $color-main: #cfc9c9 !default;
// $color-background-dark: #303030;
// $color-background-bright: #fcfcfc;
// $color-background-semi-transparent:  rgba(245, 245, 245, 0.835);
// $color-background-overlay: #30303071;
// $color-text-dark: #444343;
// $color-text-medium: #696969;
// $color-accent: #888888;
// $color-signal-red: red;
// $color-signal-green: green;
$color-main: #363642;
$color-background-dark: #363642;
$color-background-bright: #FFE4CF;
$color-cards-and-header:#b9a499;
$color-background-semi-transparent:  rgba(224, 224, 224, 0.93);
$color-background-overlay: rgba(39, 33, 28, 0.83);
$color-text-dark: #221D23;
$color-text-medium: #494949;
$color-accent: #363642;
$color-signal-red: rgb(211, 49, 49);

/// Background
/// @type Gradient
$gradient-background: radial-gradient(ellipse at center, rgba(185,164,153,1) 0%,rgba(255,228,207,1) 0%,rgba(54,54,66,1) 100%);
$transition-standard: all .2s linear;

 
$border-radius-main: 2px;
$box-shadow-main: 15px 15px 15px 0px rgba(0, 0, 0, 0.75);
$box-shadow-inset: inset 0 0 10px #000000;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 500px;

// Small tablets (portrait view)
$screen-md-min: 800px;

// Tablets and small desktops
$screen-lg-min: 1200px;

// Large tablets and desktops
$screen-xl-min: 12500px;

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;
$font-header-title: 'Barlow', sans-serif;
$font-weight-header-title: 100;
$font-header-subtitle: 'Barlow', sans-serif;
$font-weight-header-title: 100;
$font-text-title: 'Lato', sans-serif;
$font-weight-text-title: 600;
$font-text-body: 'Lato', sans-serif;
$font-weight-text-body: 400;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
