// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Main
/// @type Color
$color-main: #cfc9c9 !default;
$color-background-dark: #303030;
$color-background-bright: #fcfcfc;
$color-background-overlay: #30303071;
$color-text-dark: #444343;
$color-text-medium: #616060;
$color-accent: #888888;

/// Background
/// @type Gradient
$gradient-background: radial-gradient(circle, rgba(0, 0, 0, 0.8799894957983193) 0%, #808080 86%);

$border-radius-main: 2px;
$box-shadow-main: 15px 15px 15px 0px rgba(0, 0, 0, 0.75);

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;
$font-header-title: 'Barlow', sans-serif;
$font-weight-header-title: 100;
$font-header-subtitle: 'Barlow', sans-serif;
$font-weight-header-title: 100;
$font-text-title: 'Lato', sans-serif;
$font-weight-text-title: 600;
$font-text-body: 'Lato', sans-serif;
$font-weight-text-body: 400;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
